@import 'cards.css';
@import 'header.css';
@import 'logo.css';
@import 'cite.css';

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    min-height: 100vh;
}

.container {
    max-width: 1440px;
    margin: auto;
}

.wrapper {
    padding: 0px 100px;
}


/* TYPOGRAPHY */

h1 {
    font-family: 'Sofia', cursive;
    font-size: 44px;
}

h2 {
    font-family: 'Gabriela', serif;
    font-size: 34px;
}

h3 {
    font-family: 'BioRhyme', serif;
    font-size: 24px;
}

p {
    font-family: 'Alice', serif;
    font-size: 18px;
}

/* CONSTRAINTS */

.container {
    max-width: 1440px;
    margin: auto;
}

.wrapper {
    padding: 0px 100px;
}

@media screen and (max-width: 850px) {
    .trip-grid {
        grid-template-columns: 1fr;
    }
    .trip-grid--reverse>img {
        grid-column: 2;
    }
    .trip-grid--reverse>div {
        grid-column: 2;
    }
    .card__img--trip-grid {
        max-width: 100%;
        margin-top: 0px;
    }
}

@media screen and (max-width: 550px) {
    .header {
        padding-left: 30px;
    }
    .logo {
        font-size: 20px;
    }
    .cite {
        font-size: 14px;
    }
    .trip-grid {
        padding: 20px;
        grid-gap: 0px;
    }
    .card {
        padding: 10px;
    }
    .card__title {
        font-size: 18px;
    }
    .card__discription {
        font-size: 14px;
    }
    .card__content {
        padding: 20px;
    }
}